name: Pre-review validation

on:
  repository_dispatch:
  pull_request:
    types: [opened, reopened, synchronize]
    branches:
      - autoupdate

jobs:
  build:
    if: (github.event_name == 'pull_request') || (github.event_name == 'repository_dispatch' && github.event.action == 'validation')
    strategy:
      matrix:
        os: [macOS-10.14, windows-2019]
    runs-on: ${{ matrix.os }}
    steps:

    - uses: actions/checkout@v1

    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7

    - name: Checkout scripts and tests
      run: |
        curl https://raw.githubusercontent.com/FriendsOfGalaxy/galaxy-integrations-updater/master/scripts.py --output ../scripts.py
        curl https://raw.githubusercontent.com/FriendsOfGalaxy/galaxy-integrations-updater/master/tests.py --output ../tests.py

    - name: Build
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        REPOSITORY: ${{ github.repository }}
      run: |
        python -m pip install -U pip
        python -m pip install pip-tools
        python ../scripts.py build ../build/${{ matrix.os }}

    - name: Tests
      env:
        TARGET: ../build/${{ matrix.os }}
      run: |
        pip install pytest
        pytest ../tests.py
